hubble {
  cassandra {
    username =
    password =
    keyspace =
    hosts =
    port = 9042
  }
  confluence {
    user =
    password =
    endpointaddress = "https://hostname/plugins/servlet/soap-axis1/confluenceservice-v2"
  }
}